body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial;
}

.options {
    font-size: 25px;
    border-radius: 50%;
    padding: 15px;
    background-color: transparent;
    cursor: pointer;
    margin: 5px;
    width: 100px;
    height: 100px;
    border: 2px solid white;
}

p {
    font-size: 20px;
}

.reset-button,
.auto-play-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
}